@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

a{
    font-family: Boldonse;
    text-decoration: none;
    color:white;
}
header{
    font-family: Boldonse;
    color: white;
    font-size: 150%;
    background-color: green;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
#login{
  font-family: arial;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1rem;
  padding: 0.25em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.15s ease;
  cursor: pointer;
  margin-bottom: 8px;
}
#login:active {
  translate: 0 0.225em;
  box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
    0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
    0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: #71e364;
    background: linear-gradient(90deg, rgba(113, 227, 100, 1) 0%, 
        rgba(177, 242, 207, 1) 100%, rgba(237, 221, 83, 1) 90%);
}
#main-container{
    padding: 0;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.6px);
    -webkit-backdrop-filter: blur(16.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#to-do-title{
    background: rgba(255, 255, 255, 0.250);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 10px 30px;
}

#tasks{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.checkboxes{
    display: flex;
    padding: 10px 10px;
    min-width: 300px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.250);
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.779);
    border: none;
}
.checkbox:hover{
    cursor: pointer;
}
ul{
    padding: 10px 15px;
    display: flex;
    align-items: center;
}
.task-name{
    background-color: transparent; /* makes the background see-through */
    border: 0;       /* optional: keeps a visible border */
    color: black;                 /* text color */
    outline: none;  
}

#add-task{
    background: rgba(255, 255, 255, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 110%;
    padding: 8px;
}
#bt-add-task{
    border: none;
    background: transparent;
    font-size: 110%;
}
#bt-add-task:hover{
    cursor: pointer;
}
